@charset "UTF-8";
@font-face {
  font-family: 'showtime';
  src: url("/font/Showtime-Regular.woff") format("woff");
}

/*=====================================
    mixin
=======================================*/
@media screen and (max-width: 576px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .is-sp {
    display: none;
  }
}

/*=====================================
    基本設定
=======================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "游明朝体", "Yu Mincho", YuMincho,'ヒラギノ角ゴシック','Yu Gothic','メイリオ', 'ＭＳ Ｐゴシック','MS PGothic';
  line-height: 1.8;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  background-color: #fbfbfb !important;
  margin: 0;
  letter-spacing: 3px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: #2d2d2d;
}

a:hover {
  text-decoration: none;
}

.main-inner {
  margin-left: auto;
  padding-left: 300px;
}

@media screen and (max-width: 1200px) {
  .main-inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 992px) {
  .main-inner {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-inner {
    padding: 0;
  }
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .inner {
    max-width: 900px;
  }
}

@media screen and (max-width: 992px) {
  .inner {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    max-width: 600px;
  }
}

.header-inner {
  margin-left: 300px;
}

@media screen and (max-width: 1200px) {
  .header-inner {
    margin-left: 0;
  }
}

.title-wrapper {
  margin-top: 200px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .title-wrapper {
    margin-top: 100px;
  }
}

.title-text {
  font-family: 'Crimson Text', Century;
  font-size: 40px;
  margin-bottom: 10px;
}

.title-subtext {
  font-size: 20px;
}

.more-read, .price-more-read {
  text-align: center;
  position: relative;
  margin: 100px auto 0;
  width: 200px;
}

.more-read::after, .price-more-read::after {
  position: absolute;
  top: 50%;
  left: 90%;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid transparent;
  box-sizing: content-box;
  border-radius: 5px;
}

.more-read:hover::after, .price-more-read:hover::after {
  border-bottom-color: #2d2d2d;
  transition: width .3s, height .3s .3s;
  width: 50px;
}

@media screen and (max-width: 768px) {
  .more-read, .price-more-read {
    text-align: center;
    margin: 30px auto 50px;
  }
}

button {
  background-color: transparent;
}

.more-read-button, .price-more-read-button {
  border: 1px solid #fbfbfb;
  font-family: 'YuMincho',Century;
  font-size: 18px;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  transition: all .2s;
  outline: none;
  position: relative;
  text-decoration: none;
  color: #6C757D;
  border-radius: 5px;
}

.more-read-button::before, .price-more-read-button::before, .more-read-button::after, .price-more-read-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid transparent;
  box-sizing: content-box;
  border-radius: 5px;
}

.more-read-button:hover, .price-more-read-button:hover {
  color: #2d2d2d;
}

.more-read-button:hover::before, .price-more-read-button:hover::before, .more-read-button:hover::after, .price-more-read-button:hover::after {
  width: 100%;
  height: 100%;
}

.more-read-button:hover::before, .price-more-read-button:hover::before {
  border-top-color: #2d2d2d;
  border-right-color: #2d2d2d;
  transition: width .3s, height .3s .3s;
}

.more-read-button:hover::after, .price-more-read-button:hover::after {
  border-bottom-color: #2d2d2d;
  border-left-color: #2d2d2d;
  transition: height .3s, width .3s .3s;
}

.more-read-button:focus::after, .price-more-read-button:focus::after, .more-read-button:focus::before, .price-more-read-button:focus::before {
  outline: none;
}

@media screen and (max-width: 992px) {
  .more-read-button, .price-more-read-button {
    font-size: 20px;
  }
}

.price-more-read {
  width: 440px;
}

.price-more-read::after {
  position: absolute;
  top: 50%;
  left: 96%;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid transparent;
  box-sizing: content-box;
  border-radius: 5px;
}

.price-more-read:hover::after {
  border-bottom-color: #6C757D;
  transition: width .3s, height .3s .3s;
  width: 100px;
}

@media screen and (max-width: 992px) {
  .price-more-read {
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .price-more-read {
    width: 100%;
  }
}

.price-more-read-button {
  border: 1px solid #6C757D;
  font-size: 36px;
  height: 90px;
  color: #6C757D;
}

.price-more-read-button:hover {
  color: #fbfbfb;
  transition: 1s;
  background-color: #6C757D;
}

.price-more-read-button:hover::before {
  border-top-color: #6C757D;
  border-right-color: #6C757D;
}

.price-more-read-button:hover::after {
  border-bottom-color: #6C757D;
  border-left-color: #6C757D;
}

@media screen and (max-width: 992px) {
  .price-more-read-button {
    font-size: 24px;
  }
}

button[type=button]:focus {
  outline: none;
  border: none;
}

/*===========================
      header
=============================*/
.header-nav {
  width: 100%;
  padding: 1px 3% 1px;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  overflow: hidden;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.header-link {
  font-size: 20px;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .header-link {
    font-size: 16px;
  }
}

.contact-link {
  list-style: none;
  border: 1px solid #2d2d2d;
  padding: 7px 30px;
  margin-right: 100px;
  border-radius: 5px;
}

.contact-link:hover {
  background-color: #2d2d2d;
  transition: 1s;
}

@media screen and (max-width: 992px) {
  .contact-link {
    margin-right: 50px;
  }
}

@media screen and (max-width: 576px) {
  .contact-link {
    display: none;
  }
}

.contact-link-button {
  font-size: 18px;
  border: none;
  font-weight: normal !important;
  font-family: 'Crimson Text';
}

.contact-link-button:hover {
  color: #fbfbfb !important;
  transition: 1s;
}

@media screen and (max-width: 1200px) {
  .contact-link-button {
    font-size: 14px;
  }
}

.customize-support {
  margin-top: 0 !important;
}

/*=====================================
# drawer_menu
=======================================*/
#nav-toggle {
  position: fixed;
  top: 43px;
  right: 60px;
  height: 32px;
  cursor: pointer;
  background: transparent;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  #nav-toggle {
    top: 36px;
  }
}

@media screen and (max-width: 992px) {
  #nav-toggle {
    top: 40px;
    right: 10px;
  }
}

@media screen and (max-width: 768px) {
  #nav-toggle {
    top: 50px;
  }
}

#nav-toggle > div {
  width: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#nav-toggle > div > span.toggle {
  width: 140%;
  height: 2px;
  left: 0;
  display: block;
  background: #2d2d2d;
  position: absolute;
  transition: top .5s ease, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, top .5s ease;
  transition: transform .3s ease-in-out, top .5s ease, -webkit-transform .3s ease-in-out;
}

header #nav-toggle > div > span.toggle {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #2d2d2d;
  position: absolute;
  transition: top .5s ease, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, top .5s ease;
  transition: transform .3s ease-in-out, top .5s ease, -webkit-transform .3s ease-in-out;
}

#nav-toggle span.toggle:nth-child(1) {
  top: 0;
}

#nav-toggle span.toggle:nth-child(3) {
  top: 10px;
}

.open #nav-toggle span.toggle {
  background: #fff;
}

.open #nav-toggle span.toggle:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open #nav-toggle span.toggle:nth-child(2) {
  top: 10px;
  width: 0;
  left: 50%;
}

.open #nav-toggle span.toggle:nth-child(3) {
  top: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#global-nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity .3s ease, visibility .3s ease;
}

#global-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 0;
  transition: color .3s ease;
  font-size: .55em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .5em;
}

#global-nav a:hover {
  color: #666;
}

#global-nav ul {
  list-style: none;
  padding: 0;
}

#global-nav ul li {
  opacity: 0;
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .2s ease;
  transition: transform .3s ease, opacity .2s ease, -webkit-transform .3s ease;
}

#global-nav ul li:nth-child(2) {
  transition-delay: .05s;
}

#global-nav ul li:nth-child(3) {
  transition-delay: .15s;
}

#global-nav ul li:nth-child(4) {
  transition-delay: .25s;
}

/* open */
.open {
  overflow: hidden;
}

.open #global-nav {
  visibility: visible;
  opacity: 1;
}

.open #global-nav li {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity .9s ease;
  transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
}

/*===========================
      main
=============================*/
.main {
  position: relative;
}

.main-content {
  background-image: url(../image/portfolio-main.jpg);
  min-height: 85vh;
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .main-content {
    background-image: url(../image/portfolio-main.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
}

.main-text {
  font-family: 'showtime',Century;
  text-align: center;
  font-size: 120px;
  position: absolute;
  top: 34%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: #2d2d2d;
  letter-spacing: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .main-text {
    font-size: 90px;
    left: 40%;
    top: 40%;
  }
}

@media screen and (max-width: 992px) {
  .main-text {
    font-size: 50px;
  }
}

@media screen and (max-width: 576px) {
  .main-text {
    top: 30%;
  }
}

.main-subtext {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 67%;
  left: 30%;
  transform: translate(-50%, -50%);
  letter-spacing: 12px;
  font-weight: 100;
}

@media screen and (max-width: 1200px) {
  .main-subtext {
    font-size: 16px;
    left: 40%;
  }
}

@media screen and (max-width: 992px) {
  .main-subtext {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .main-subtext {
    font-size: 12px;
  }
}

.main-text span,
.main-subtext span {
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

/*===========================
      concept
=============================*/
.concept {
  position: relative;
}

.concept-content {
  width: 50%;
  margin: 50px auto 0;
  color: #6C757D;
}

/* アニメーション設定 */
.arrowWrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
}

.arrowInner p {
  font-size: 12px;
  text-align: end;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow {
  width: 1px;
  height: 90px;
  margin: 60px auto 0;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.arrow::before {
  content: '';
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #2d2d2d;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-animation: arrow 2.5s ease 0s infinite normal;
  animation: arrow 2.5s ease 0s infinite normal;
}

@keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

/*===========================
      service
=============================*/
.service-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .service-wrapper {
    display: block;
    padding: 0 50px;
  }
}

@media screen and (max-width: 576px) {
  .service-wrapper {
    padding: 0;
  }
}

.service-content {
  flex: 0 0 30%;
  text-align: center;
  position: relative;
}

.service-content img {
  width: 180px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .service-content + .service-content {
    margin: 50px auto;
  }
}

.service-subtitle {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.service-title {
  font-family: 'showtime',Century;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
}

.service-text {
  color: #6C757D;
  font-size: 14px;
  text-align: left;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .service-text {
    width: 80%;
    margin: 20px auto 0;
  }
}

/*===========================
      price
=============================*/
.price {
  background-color: #E1DDDD;
  min-height: 1250px;
  height: auto;
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.price .title-wrapper {
  padding: 50px 0;
}

@media screen and (max-width: 992px) {
  .price {
    padding-bottom: 50px;
    min-height: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .price {
    min-height: 900px;
    padding-bottom: 10px;
  }
}

.business-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

@media screen and (max-width: 1200px) {
  .business-wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width: 992px) {
  .business-wrapper {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .business-wrapper {
    display: block;
    padding: 0 80px;
  }
}

@media screen and (max-width: 576px) {
  .business-wrapper {
    padding: 0 20px 50px;
  }
}

.business-content {
  width: 25%;
  text-align: center;
  padding: 50px 40px 190px;
  background-color: #fbfbfb;
  position: relative;
  border: 1px solid #e7e6e6;
}

@media screen and (max-width: 1200px) {
  .business-content {
    padding: 50px 20px 180px;
  }
}

@media screen and (max-width: 992px) {
  .business-content {
    padding: 50px 5px 180px;
  }
}

@media screen and (max-width: 768px) {
  .business-content {
    padding: 50px 40px 180px;
    width: 100%;
  }
  .business-content + .business-content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .business-content {
    padding: 50px 20px 180px;
  }
}

.business-content-title {
  margin-top: 10px;
  color: #6C757D;
  text-align: center;
}

.business-content-list {
  list-style-type: none;
  margin-top: 40px;
}

.business-content-text {
  position: relative;
  color: #6C757D;
  font-size: 12px;
  text-align: left;
  margin: 15px 0;
}

.business-content-text::after {
  content: '';
  display: block;
  position: absolute;
  top: .5em;
  left: -2em;
  width: 10px;
  height: 5px;
  border-left: 2px solid #25AF01;
  border-bottom: 2px solid #25AF01;
  transform: rotate(-45deg);
}

@media screen and (max-width: 992px) {
  .business-content-text {
    font-size: 10px;
  }
  .business-content-text::after {
    left: -2.5em;
  }
}

@media screen and (max-width: 768px) {
  .business-content-text {
    font-size: 12px;
  }
}

.business-price, .business-sub-price {
  color: #6C757D;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .business-price, .business-sub-price {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .business-price, .business-sub-price {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .business-price, .business-sub-price {
    font-size: 16px;
  }
}

.business-sub-price {
  bottom: 13%;
}

.business-price-size {
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .business-price-size {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .business-price-size {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .business-price-size {
    font-size: 20px;
  }
}

/*===========================
      work
=============================*/
.work-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .work-wrapper {
    display: block;
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .work-wrapper {
    padding: 0 20px;
  }
}

.work-content {
  flex: 0 0 30%;
  padding: 16px;
}

.work-content img {
  object-fit: cover;
  height: 200px;
}

@media screen and (max-width: 992px) {
  .work-content img {
    height: 180px;
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .work-content img {
    width: 220px;
    height: 120px;
  }
}

@media screen and (max-width: 576px) {
  .work-content img {
    width: 280px;
    height: 180px;
  }
}

@media screen and (max-width: 992px) {
  .work-content {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .work-content {
    display: block;
  }
}

.work-content-image:hover {
  opacity: 0.7;
  transition: 0.6s;
}

@media screen and (max-width: 768px) {
  .work-content-image {
    width: 48%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .work-content-image {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .work-content-text {
    width: 48%;
  }
}

@media screen and (max-width: 576px) {
  .work-content-text {
    width: 80%;
    margin: 0 auto;
  }
}

.work-title, .work-content-title {
  font-family: 'showtime',Century;
  font-size: 30px;
  margin: 20px auto 10px;
  text-align: center;
}

.work-text {
  color: #6C757D;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .work-text {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .work-text {
    margin-left: 10px;
  }
}

/*===========================
      about
=============================*/
.about-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    display: block;
  }
}

.about-image {
  width: 25%;
  position: relative;
  margin: auto 0 auto 60px;
  height: 180px;
  align-items: center;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .about-image {
    height: 150px;
  }
}

@media screen and (max-width: 992px) {
  .about-image {
    height: 138px;
    margin-left: 30px;
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .about-image {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #fbfbfb;
  }
}

@media screen and (max-width: 576px) {
  .about-image {
    width: 60%;
  }
}

.about-content {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .about-content {
    width: 100%;
    margin-top: 100px;
    padding: 0 100px;
  }
}

@media screen and (max-width: 576px) {
  .about-content {
    padding: 0 50px;
  }
}

.about-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-name-japanese {
  font-size: 30px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .about-name-japanese {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .about-name-japanese {
    margin: 10px auto;
  }
}

.about-name-english {
  font-size: 24px;
  margin-left: 30px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .about-name-english {
    font-size: 20px;
  }
}

.about-text {
  color: #6C757D;
  margin: 0 auto 20px;
}

@media screen and (max-width: 1200px) {
  .about-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .about-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .about-text {
    margin-top: 20px;
  }
}

/*===========================
      contact
=============================*/
.contact {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 0 50px;
  }
}

.contact-form {
  width: 100%;
  margin-top: 80px;
}

.contact-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contact-list {
    display: block;
  }
}

.contact-content-left {
  display: block;
  width: 38%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .contact-content-left {
    width: 100%;
  }
}

.contact-content-right {
  width: 58%;
  height: auto;
}

.contact-content-right textarea {
  width: 100%;
  height: 280px;
}

.contact-content-right dd {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .contact-content-right {
    width: 100%;
    margin-top: 26px;
  }
}

.contact-item {
  width: 100%;
  display: block;
}

.contact-item dd {
  margin-left: 0;
}

.contact-name {
  margin: 5px;
  font-weight: 400;
}

.contact-item-must {
  margin-left: 8px;
}

.contact-item-input {
  width: 100%;
}

.contact-button {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .contact-button {
    text-align: center;
  }
}

div.wpcf7 .ajax-loader {
  display: none !important;
}

.contact-button-submit {
  background-color: #2d2d2d;
  color: #fbfbfb;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: right;
  border: 1px solid #2d2d2d;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

input[type=email],
input[type=text],
input[type=tel] {
  height: 30px;
  margin-bottom: 10px !important;
  margin-top: 0;
}

input[type=email],
input[type=text],
input[type=tel],
textarea {
  background-color: #fbfbfb;
  border: 1px solid #6C757D;
  border-radius: 4px;
}

/*===========================
      footer
=============================*/
.footer {
  margin-top: 150px;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
}

/*=====================================
# 下層ページ共通
=======================================*/
.sub-main-image {
  width: 100%;
  height: 400px;
}

/*=====================================
# about.html
=======================================*/
.about-page .title-wrapper {
  margin-top: 50px;
}

.about-page-profile {
  display: block;
  margin-top: 200px;
  text-align: center;
}

.about-page-profile-name {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-page-profile-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1);
}

.about-page-profile-text {
  color: #6C757D;
  width: 400px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
}

.about-skill {
  color: #6C757D;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}

.about-page-info {
  color: #6C757D;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}

.about-info-name {
  font-size: 20px;
}

.about-page-sns {
  color: #6C757D;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}

/*=====================================
# service.html
=======================================*/
.service-page {
  padding: 50px 0 200px;
}

.service-page-wrapper {
  margin-top: 150px;
}

.service-page-title {
  font-size: 18px;
  text-align: center;
  position: relative;
  padding: 1rem;
}

.service-page-title:before {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 30px);
  width: 60px;
  height: 2px;
  content: '';
  border-radius: 3px;
  background: #f04848;
}

.service-page-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 40px auto 0;
}

.service-page-image {
  width: 40%;
  object-fit: cover;
  margin: 20px;
  height: 180px;
}

.service-page-text {
  font-size: 14px;
  color: #6C757D;
  margin: 20px;
  width: 60%;
}

.service-page-video {
  width: 40%;
  height: 0;
  position: relative;
  padding-top: 22%;
  padding-left: 13%;
  padding-right: 13%;
  overflow: hidden;
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .service-page-video {
    padding-top: 20px;
    height: 200px;
  }
}

.service-page-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*=====================================
# business.html
=======================================*/
.business-page {
  margin-top: 100px;
}

.business-page-title {
  font-size: 30px;
  text-align: center;
  color: #6C757D;
}

.business-page-price {
  margin-top: 100px;
  color: #6C757D;
}

.business-price-title {
  font-size: 30px;
  color: #6C757D;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .business-price-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .business-price-title {
    font-size: 14px;
  }
}

.business-price-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .business-price-wrapper {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .business-price-wrapper {
    padding: 0 50px;
  }
}

@media screen and (max-width: 576px) {
  .business-price-wrapper {
    padding: 0 10px;
  }
}

.business-price-content {
  flex: 0 0 30%;
  padding: 80px 40px;
  border: 1px solid #6C757D;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 992px) {
  .business-price-content {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .business-price-content {
    margin: 0 auto;
    width: 100%;
    padding: 80px 95px;
  }
  .business-price-content + .business-price-content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .business-price-content {
    padding: 80px 20px;
  }
}

.business-price-content-title {
  font-size: 20px;
  color: #6C757D;
}

.business-page-line {
  border-bottom: 1px solid #6C757D;
  width: 100px;
  margin: 0 auto;
}

.business-price-content-text {
  text-align: left;
  margin-top: 40px;
  color: #6C757D;
}

.business-price-content-price {
  font-size: 20px;
  width: 110px;
  bottom: 10px;
  right: 15px;
  position: absolute;
  color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}

.business-page-price-text {
  text-align: center;
  font-size: 14px;
  color: #6C757D;
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .business-page-price-text {
    width: 50%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 768px) {
  .business-page-price-text {
    width: 80%;
    text-align: left;
  }
}

.business-price-all-price {
  text-align: right;
  font-size: 40px;
  margin-top: 60px;
  position: relative;
}

.business-price-all-price::before {
  content: "";
  position: absolute;
  right: -150px;
  bottom: 0;
  display: inline-block;
  width: 310px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #2d2d2d;
  /*線の色*/
}

@media screen and (max-width: 992px) {
  .business-price-all-price {
    text-align: center;
  }
  .business-price-all-price::before {
    right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .business-price-all-price::before {
    right: -50px;
  }
}

@media screen and (max-width: 576px) {
  .business-price-all-price {
    font-size: 25px;
  }
  .business-price-all-price::before {
    display: none;
  }
}

.business-page-price {
  padding: 0 50px;
}

.animation-price-content {
  border: 1px solid #6C757D;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}

@media screen and (max-width: 992px) {
  .animation-price-content {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .animation-price-content {
    margin: 0 auto;
    width: 100%;
    padding: 80px 85px;
  }
}

@media screen and (max-width: 576px) {
  .animation-price-content {
    padding: 80px 40px;
  }
}

.business-page-icon {
  margin: auto;
}

.business-page-icon img {
  width: 20px;
  height: auto;
}

@media screen and (max-width: 992px) {
  .business-page-icon {
    text-align: center;
    margin: 30px;
  }
}

.animation-price-content-text, .animation-price-content-text2 {
  font-size: 18px;
  color: #6C757D;
  margin: 40px auto;
}

.animation-price-content-text2 {
  margin-bottom: 0;
}

/*=====================================
# work.html
=======================================*/
.work-section {
  margin-top: 100px;
}

.work-page-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .work-page-wrapper {
    display: block;
    padding: 0 50px;
  }
}

@media screen and (max-width: 576px) {
  .work-page-wrapper {
    padding: 0 70px;
  }
}

@media screen and (max-width: 992px) {
  .work-page-content {
    margin-top: 30px;
  }
}

.work-page-title {
  font-family: 'showtime',Century;
  font-size: 60px;
  color: #2d2d2d;
}

@media screen and (max-width: 768px) {
  .work-page-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 576px) {
  .work-page-title {
    font-size: 30px;
  }
}

.work-content-title {
  font-size: 24px;
}

.work-page-content {
  flex: 0 0 30%;
  display: block;
}

@media screen and (max-width: 768px) {
  .work-page-content {
    margin-top: 50px;
  }
}

.work-page-content-text {
  color: #6C757D;
  font-size: 14px;
  margin-top: 20px;
}

.youtube-frame {
  position: relative;
  padding-bottom: calc(315 / 560 * 100%);
  padding-top: 25px;
  height: 0;
}

@media screen and (max-width: 992px) {
  .youtube-frame {
    padding-top: 20px;
    height: 200px;
  }
}

.youtube-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
