@charset "UTF-8";

@font-face {
    font-family: 'showtime'; //好きな名前を設定します。
    src: url('/font/Showtime-Regular.woff') format('woff');
  }

$color-text:#2d2d2d;
$color-subtext:#6C757D;
$color-white:#fbfbfb;

/*=====================================
    mixin
=======================================*/
// マップ型変数breakpointsを定義
$breakpoints: (
  'sm': 'screen and (max-width: 576px)', //0~576pxの範囲で適用（横向きスマホ）
  'md': 'screen and (max-width: 768px)', //0~768pxの範囲で適用（タブレット）
  'lg': 'screen and (max-width: 992px)', //0~992pxの範囲で適用（デスクトップ）
  'xl': 'screen and (max-width: 1200px)', //0~1200pxの範囲で適用（ワイドデスクトップ）
  'sp': 'screen and (min-width: 577px)', //577px~の範囲で適用
) !default;

// メディアクエリ用のmixin定義。デフォ値はmd。
@mixin mq($breakpoint: md) {
    // map-get（マップ型変数、キー）で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        // この中をカスタムできる
      @content;
    }
  }

// .is-pcでスマホの時は非表示。PCで表示。
@include mq(sm) {
    .is-pc {
        display:none;
    }
}

// .is-spでスマホの場合は表示。PCの場合は非表示。
@include mq(sp) {
    .is-sp {
        display: none;
    }
}

/*=====================================
    基本設定
=======================================*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    font-family: "游明朝体", "Yu Mincho", YuMincho,'ヒラギノ角ゴシック','Yu Gothic','メイリオ', 'ＭＳ Ｐゴシック','MS PGothic';
    line-height: 1.8;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background-color: $color-white !important;
    margin: 0;
    letter-spacing: 3px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    list-style: none;
    color: $color-text;

    &:hover {
        text-decoration: none;
    }
  }

.main-inner {
    margin-left:auto;
    padding-left: 300px;


    @include mq(xl) {
        padding: 0 30px;
    }

    @include mq(lg) {
        padding: 0 10px;
    }

    @include mq(md) {
        padding: 0;
    }
}

.inner {
	margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    
    @include mq(xl) {
        max-width: 900px;
    }

    @include mq(lg) {
        max-width: 700px;
    }

    @include mq(md) {
        max-width: 600px;
    }
}

.header-inner {
    margin-left: 300px;

    @include mq(xl) {
        margin-left: 0;
    }
}

.title-wrapper {
    margin-top: 200px;
    text-align: center;

    @include mq(lg) {
        margin-top: 100px;
    }
}

.title-text {
    font-family: 'Crimson Text', Century;
    font-size: 40px;
    margin-bottom: 10px;
}

.title-subtext {
    font-size: 20px;
}

.more-read {
    text-align: center;
    position: relative;
    margin:100px auto 0;
    width: 200px;

    &::after {
        position: absolute;
        top: 50%;
        left: 90%;
        z-index: 2;
        content: '';
        width: 0;
        height: 0;
        border: 1px solid transparent;
        box-sizing: content-box;
        border-radius: 5px;
    }

    &:hover::after {
        border-bottom-color: $color-text;
        transition: width .3s, height .3s .3s;
        width: 50px;
    }

    @include mq(md) {
        text-align: center;
        margin: 30px auto 50px;
    }
}

button {
    background-color: transparent;
}

.more-read-button {
    border: 1px solid $color-white;
    font-family: 'YuMincho',Century;
    font-size: 18px;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    transition: all .2s;
    outline: none;
    position: relative;
    text-decoration: none;
    color: $color-subtext;
    border-radius: 5px;

    &::before,
    &::after {
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: 2;
        content: '';
        width: 0;
        height: 0;
        border: 1px solid transparent;
        box-sizing: content-box;
        border-radius: 5px;
    }

    &:hover {
        color: $color-text;
    }

    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: $color-text;
        border-right-color: $color-text;
        transition: width .3s, height .3s .3s;
    }

    &:hover::after {
        border-bottom-color: $color-text;
        border-left-color: $color-text;
        transition: height .3s, width .3s .3s;
    }

    &:focus::after,
    &:focus::before {
        outline: none;
    }

    @include mq(lg) {
        font-size: 20px;
    }
}

.price-more-read {
    @extend.more-read;
    color: $color-white;
    width: 440px;

    &::after {
        position: absolute;
        top: 50%;
        left: 96%;
        z-index: 2;
        content: '';
        width: 0;
        height: 0;
        border: 1px solid transparent;
        box-sizing: content-box;
        border-radius: 5px;
    }

    &:hover::after {
        border-bottom-color: $color-white;
        transition: width .3s, height .3s .3s;
        width: 100px;
    }

    @include mq(lg) {
        margin-top: 50px;
    }

    @include mq(sm) {
        width: 100%;
    }
}

.price-more-read-button {
    @extend.more-read-button;
    color: $color-white;
    border: 1px solid transparent;
    font-size: 36px;
    height: 90px;

    &:hover {
        color: $color-subtext;
        transition: 1s;
        background-color: $color-white;
    }

    &:hover::before {
        border-top-color: $color-white;
        border-right-color: $color-white;
    }

    &:hover::after {
        border-bottom-color: $color-white;
        border-left-color: $color-white;
    }

    @include mq(lg) {
        font-size: 24px;
    }
}

button[type=button] {
    &:focus {
        outline: none;
        border: none;
    }


}


/*===========================
      header
=============================*/
.header-nav {
    width: 100%;
    padding: 1px 3% 1px;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
}

.header-menu {
    display: flex;
    justify-content:space-between;
    padding: 0;
    align-items: center;
}

.header-link {
    font-size: 20px;
    list-style: none;

    @include mq(xl) {
        font-size: 16px;
    }
}

.contact-link {
    list-style: none;
    border: 1px solid $color-text;
    padding: 7px 30px;
    margin-right: 100px;
    border-radius: 5px;

    &:hover {
        background-color: $color-text;
        transition: 1s;
    }

    @include mq(lg) {
        margin-right: 50px;
    }

    @include mq(sm) {
        display:none;
    }
}

.contact-link-button {
    font-size: 18px;
    border: none;
    font-weight: normal !important;
    font-family: 'Crimson Text';

    &:hover {
        color: $color-white !important;
        transition: 1s;
    }

    @include mq(xl) {
        font-size: 14px;
    }
}

.customize-support {
    margin-top: 0 !important;
}

/*=====================================
# drawer_menu
=======================================*/
#nav-toggle {
    position: fixed;
    top: 43px;
    right: 60px;
    height: 32px;
    cursor: pointer;
    background: transparent;
    width: 50px;
    height: 50px;

    @include mq(xl) {
        top: 36px;
    }

    @include mq(lg) {
        top: 40px;
        right: 10px;
    }

    @include mq(md) {
        top: 50px;
    }

    @include mq(sm) {
        // top: 70px;
    }
}

#nav-toggle > div {
    width: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

#nav-toggle > div > span.toggle {
    width: 140%;
    height: 2px;
    left: 0;
    display: block;
    background: $color-text;
    position: absolute;
    transition: top .5s ease, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, top .5s ease;
    transition: transform .3s ease-in-out, top .5s ease, -webkit-transform .3s ease-in-out;
}

header #nav-toggle > div > span.toggle {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: $color-text;
    position: absolute;
    transition: top .5s ease, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, top .5s ease;
    transition: transform .3s ease-in-out, top .5s ease, -webkit-transform .3s ease-in-out;
}

#nav-toggle span.toggle:nth-child(1) {
    top: 0;
}
#nav-toggle span.toggle:nth-child(3) {
    top: 10px;
}
.open #nav-toggle span.toggle {
    background: #fff;
}
.open #nav-toggle span.toggle:nth-child(1) {
    top: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open #nav-toggle span.toggle:nth-child(2) {
    top: 10px;
    width: 0;
    left: 50%;
}
.open #nav-toggle span.toggle:nth-child(3) {
    top: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* z-index */
#nav-toggle {
    z-index: 1000;
}
#container {
    z-index: 900;
}
#global-nav {
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    opacity: 0;
    transition: opacity .3s ease, visibility .3s ease;
}
#global-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
    transition: color .3s ease;
    font-size: .55em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: .5em;
}
#global-nav a:hover {
    color: #666;
}
#global-nav ul {
    list-style: none;
    padding: 0;
}
#global-nav ul li {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: transform .3s ease, opacity .2s ease;
    transition: transform .3s ease, opacity .2s ease, -webkit-transform .3s ease;
}
#global-nav ul li:nth-child(2) {
    transition-delay: .05s;
}
#global-nav ul li:nth-child(3) {
    transition-delay: .15s;
}
#global-nav ul li:nth-child(4) {
    transition-delay: .25s;
}
/* open */
.open {
    overflow: hidden;
}
.open #global-nav {
    visibility: visible;
    opacity: 1;
}
.open #global-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
}

/*===========================
      main
=============================*/
.main {
    position: relative;
}

.main-content {
    background-image: url(../image/portfolio-main.jpg);
    min-height: 85vh;
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    @include mq(sm) {
        background-image: url(../image/portfolio-main.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }
}

.main-text {
    font-family: 'showtime',Century;
    text-align: center;
    font-size: 120px;
    position: absolute;
    top: 34%;
    left: 32%;
    transform:translate(-50%,-50%);
    color: $color-text;
    letter-spacing: 12px;
    font-weight:400;

    @include mq(xl) {
        font-size: 90px;
        left: 40%;
        top: 40%;
    }

    @include mq(lg) {
        font-size: 50px;
    }

    @include mq(sm) {
        top: 30%;
    }

}

.main-subtext {
    text-align: center;
    font-size: 20px;
    position:absolute;
    top: 67%;
    left: 30%;
    transform:translate(-50%,-50%);
    letter-spacing: 12px;
    font-weight: 100;

    @include mq(xl) {
        font-size: 16px;
        left: 40%;
    }

    @include mq(lg) {
        font-size: 14px;
    }

    @include mq(sm) {
        font-size: 12px;
    }
}

.main-text span,
.main-subtext span {
    opacity: 0;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

/*===========================
      concept
=============================*/
.concept {
    position: relative;
}

.concept-content {
    width: 50%;
    margin: 50px auto 0;
    color: $color-subtext;
}

/* アニメーション設定 */
.arrowWrap {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px
  }
  
  .arrowInner p {
    font-size: 12px;
    text-align: end;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .arrow {
    width: 1px;
    height: 90px;
    margin: 60px auto 0;
    background-color: #eee;
    position: relative;
    overflow: hidden;
  }
  
  .arrow::before {
    content: '';
    width: 1px;
    height: 100px;
    margin: 50px auto 0;
    background-color: $color-text;
    position: absolute;
    top: -150px;
    left: 0;
    -webkit-animation: arrow 2.5s ease 0s infinite normal;
    animation: arrow 2.5s ease 0s infinite normal;
  }
  
  @keyframes arrow {
    0% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  
    60% {
      -webkit-transform: translate3d(-50%, 100px, 0);
      transform: translate3d(-50%, 100px, 0);
    }
  
    100% {
      -webkit-transform: translate3d(-50%, 100px, 0);
      transform: translate3d(-50%, 100px, 0);
    }
  }

/*===========================
      service
=============================*/
.service-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @include mq(md) {
        display: block;
        padding: 0 50px;
    }

    @include mq(sm) {
        padding:0;
    }
}

.service-content {
    flex: 0 0 30%;
    text-align: center;
    position: relative;

    img {
        width: 180px;
        height: auto;
        margin: 0 auto;
    }

    @include mq(md) {
        & + & {
            margin: 50px auto;
        }
    }
}

.service-subtitle {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.service-title {
    font-family: 'showtime',Century;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

.service-text {
    color: $color-subtext;
    font-size: 14px;
    text-align: left;
    margin-top: 20px;

    @include mq(md) {
        width: 80%;
        margin: 20px auto 0;
    }
}

/*===========================
      price
=============================*/
.price {
    background-image: url(../image/main-image.jpg);
    min-height: 1250px;
    height: auto;
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: $color-white;

    .title-wrapper {
        padding: 50px 0;
    }

    @include mq(lg) {
        padding-bottom: 50px;
        min-height: 1000px;
    }

    @include mq(md) {
        min-height: 900px;
        padding-bottom: 10px;
    }

    @include mq(sm) {
    }

    
}

.business-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;

    @include mq(xl) {
        padding: 0 40px;
    }

    @include mq(lg) {
        padding: 0 10px;
    }

    @include mq(md) {
        display: block;
        padding: 0 80px;
        
    }

    @include mq(sm) {
        padding: 0 20px 50px;
    }

}

.business-content {
    width: 25%;
    text-align: center;
    padding:50px 40px 190px;
    background-color: $color-white;
    position: relative;
    border: 1px solid #e7e6e6;

    @include mq(xl) {
        padding: 50px 20px 180px;
    }

    @include mq(lg) {
        padding: 50px 5px 180px;
    }

    @include mq(md) {
        padding: 50px 40px 180px;
        width: 100%;

        & + & {
            margin-top: 20px;
        }
    }

    @include mq(sm) {
        padding: 50px 20px 180px;
    }
}

.business-content-title {
    margin-top: 10px;
    color: $color-subtext;
    text-align: center;
}

.business-content-list {
    list-style-type: none;
    margin-top: 40px;
  }

.business-content-text {
    position: relative;
    color: $color-subtext;
    font-size: 12px;
    text-align: left;
    margin: 15px 0;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: .5em;
        left: -2em;
        width: 10px;
        height: 5px;
        border-left: 2px solid #25AF01;
        border-bottom: 2px solid #25AF01;
        transform: rotate(-45deg);
    }

    @include mq(lg) {
        font-size: 10px;

        &::after {
            left: -2.5em;
        }
    }

    @include mq(md) {
        font-size: 12px;
    }

}

.business-price {
    color: $color-subtext;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    width: 100%;

    @include mq(xl) {
        font-size: 16px;
    }

    @include mq(lg) {
        font-size: 10px;
    }

    @include mq(md) {
        font-size: 16px
    }
}

.business-sub-price {
    @extend.business-price;
    bottom: 13%;
}

.business-price-size {
    font-size: 24px;
    font-weight: 400;

    @include mq(xl) {
        font-size: 18px;
    }

    @include mq(lg) {
        font-size: 12px;
    }

    @include mq(md) {
        font-size: 20px;
    }
}

/*===========================
      work
=============================*/
.work-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;

    @include mq(lg) {
        display: block;
        padding: 0 30px;
    }

    @include mq(md) {
        padding: 0 20px;
    }
}

.work-content {
    flex: 0 0 30%;
    padding:16px;

    img {
        object-fit: cover;
        height: 200px;

        @include mq(lg) {
            height: 180px;
            width: 280px;
        }

        @include mq(md) {
            width: 220px;
            height: 120px;
        }

        @include mq(sm) {
            width: 280px;
            height: 180px;
        }
    }


    @include mq(lg) {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    @include mq(sm) {
        display: block;
    }
}

.work-content-image {

    &:hover {
        opacity: 0.7;
        transition: 0.6s;
    }

    @include mq(md) {
        width: 48%;
        margin-top: 50px;
    }

    @include mq(sm) {
        width: 100%;
        text-align: center;
    }
}

.work-content-text {
    @include mq(md) {
        width: 48%;
    }

    @include mq(sm) {
        width: 80%;
        margin: 0 auto;
    }
}

.work-title {
    font-family: 'showtime',Century;
    font-size: 30px;
    margin: 20px auto 10px;
    text-align: center;
}

.work-text {
    color: $color-subtext;
    font-size: 14px;

    @include mq(lg) {
        margin-left: 20px;
    }

    @include mq(md) {
        margin-left: 10px;
    }
}
/*===========================
      about
=============================*/
.about-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @include mq(md) {
        display: block;
    }
}

.about-image {
    width: 25%;
    position: relative;
    margin: auto 0 auto 60px;
    height: 180px;
    align-items: center;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1);

    @include mq(xl) {
        height: 150px;
    }

    @include mq(lg) {
        height: 138px;
        margin-left: 30px;
        width: 30%;
    }

    @include mq(md) {
        margin: 0 auto;
        width: 50%;
        border: 1px solid $color-white;
    }

    @include mq(sm) {
        width: 60%;
    }
}

.about-content {
    width: 60%;

    @include mq(md) {
        width: 100%;
        margin-top: 100px;
        padding: 0 100px;
    }

    @include mq(sm) {
        padding: 0 50px;
    }
}

.about-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-name-japanese {
    font-size: 30px;
    font-weight: normal;

    @include mq(xl) {
        font-size: 24px;
    }

    @include mq(md) {
        margin: 10px auto;
    }
}

.about-name-english {
    font-size: 24px;
    margin-left: 30px;
    font-weight: normal;

    @include mq(xl) {
        font-size: 20px;
    }
}

.about-text {
    color: $color-subtext;
    margin: 0 auto 20px;

    @include mq(xl) {
        font-size: 14px;
    }

    @include mq(lg) {
        font-size: 14px;
    }

    @include mq(md) {
        margin-top: 20px;
    }
}

/*===========================
      contact
=============================*/
.contact {
    width: 100%;

    @include mq(md) {
        padding: 0 50px;
    }
}

.contact-form {
    width: 100%;
    margin-top: 80px;
}

.contact-list {
    display: flex;
    justify-content: space-between;

    @include mq(md) {
        display: block;
    }
}

.contact-content-left {
    display: block;
    width: 38%;
    height: auto;

    @include mq(md) {
        width: 100%;
    }
}

.contact-content-right {
    width: 58%;
    height: auto;

    textarea {
        width: 100%;
        height: 280px;
    }

    dd {
        margin-left: 0;
    }

    @include mq(md) {
        width: 100%;
        margin-top: 26px;
    }
}

.contact-item {
    width: 100%;
    display: block;

    dd {
        margin-left: 0;
    }
}

.contact-name {
    margin: 5px;
    font-weight: 400;
}

.contact-item-must {
    margin-left: 8px;
}

.contact-item-input {
    width: 100%;
}

.contact-button {
    text-align: right;

    @include mq(md) {
        text-align: center;
    }
}

div.wpcf7 .ajax-loader {
    display: none !important;
}

.contact-button-submit {
    background-color: $color-text;
    color: $color-white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: right;
    border: 1px solid $color-text;
}

.contact-message {
    text-align: center;
    margin-top: 60px;
    display: none;

    &.-error {
        color: #f00;
    }
}

input[type=email],
input[type=text],
input[type=tel] {
    height: 30px;
    margin-bottom: 10px !important;
    margin-top: 0;
}

input[type=email],
input[type=text],
input[type=tel],
textarea {
    background-color: $color-white;
    border: 1px solid $color-subtext;
    border-radius: 4px;
}

/*===========================
      footer
=============================*/
.footer {
    margin-top: 150px;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
}

/*=====================================
# about.html
=======================================*/
.about-page-profile {
    display: block;
    margin-top: 200px;
    text-align: center;
}

.about-page-profile-name {
    font-family: "showtime",Century;
    font-size: 60px;
}

.about-page-profile-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
}

.about-page-profile-text {
    color: $color-subtext;
    width: 400px;
    margin: 0 auto;
    text-align: left;
    margin-top: 40px;
    font-size: 14px;
}

.about-skill {
    color: $color-subtext;
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}

.about-page-info {
    color: $color-subtext;
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}

.about-info-name {
    font-size: 20px;
}

.about-page-sns {
    color: $color-subtext;
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}

/*=====================================
# service.html
=======================================*/
.service-page {
    margin-top: 100px;
}

.business-animation {
    margin-top: 100px;
    width: 100%;

    @include mq(md) {
        padding: 0 50px;
    }
}

.business-animation-text {
    width: 70%;
    margin: 0 auto;
    color: $color-subtext;

    @include mq(md) {
        width: 100%;
    }
}

.business-animation-content {
    border: 1px solid $color-subtext;
    padding: 30px 50px;
    width: 100%;
    margin: 80px auto 0;
    text-align: center;
}

.business-animation-img {
    width: 60px;
    height: auto;
    margin: 0 auto;
}

.business-animation-content-text {
    margin-top: 50px;
    color: $color-subtext;
    text-align: left;
}

/*=====================================
# business.html
=======================================*/
.business-page {
    margin-top: 100px;
}

.business-page-title {
    font-size: 30px;
    text-align: center;
    color: $color-subtext;
}

.business-page-price {
    margin-top: 100px;
    color: $color-subtext;
}

.business-price-title {
    font-size: 30px;
    color: $color-subtext;
    text-align: center;

    @include mq(lg) {
        font-size: 20px;
    }

    @include mq(sm) {
        font-size: 14px;
    }
}

.business-price-wrapper {
    display: flex;
    justify-content: space-between;

    @include mq(lg) {
        display: block;
    }

    @include mq(md) {
        padding: 0 50px;
    }
    @include mq(sm) {
        padding: 0 10px;
    }
}

.business-price-content {
    flex: 0 0 30%;
    padding: 80px 40px;
    border: 1px solid $color-subtext;
    text-align: center;
    position: relative;

    @include mq(lg) {
        width: 50%;
        margin: 0 auto;
    }

    @include mq(md) {
        margin: 0 auto;
        width: 100%;
        padding: 80px 95px;

        & + & {
            margin-top: 20px;
        }
    }

    @include mq(sm) {
        padding: 80px 20px;
    }
}

.business-price-content-title {
    font-size: 20px;
    color: $color-subtext;
}

.business-page-line {
    border-bottom: 1px solid $color-subtext;
    width: 100px;
    margin: 0 auto;
}

.business-price-content-text {
    text-align: left;
    margin-top: 40px;
    color: $color-subtext;
}

.business-price-content-price {
    font-size: 20px;
    width: 110px;
    bottom: 10px;
    right: 15px;
    position: absolute;
    color: $color-text;
    border-bottom: 1px solid $color-text;
}

.business-page-price-text {
    text-align: center;
    font-size: 14px;
    color: $color-subtext;
    margin-top: 20px;

    @include mq(lg) {
        width: 50%;
        margin: 20px auto;
    }

    @include mq(md) {
        width: 80%;
        text-align: left;
    }
}

.business-price-all-price {
    text-align: right;
    font-size: 40px;
    margin-top: 60px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: -150px;
        bottom: 0;
        display: inline-block;
        width: 310px;
        height: 1px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: $color-text;/*線の色*/
    }

    @include mq(lg) {
        text-align: center;

        &::before {
            right: 0px;
        }
    }

    @include mq(md) {

        &::before {
            right: -50px;
        }
    }

    @include mq(sm) {
        font-size: 25px;

        &::before {
            display: none;
        }
    }
}

.business-page-price {
    padding: 0 50px;
}

.animation-price-content {
    border: 1px solid $color-subtext;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;

    @include mq(lg) {
        width: 50%;
        margin: 0 auto;
    }

    @include mq(md) {
        margin: 0 auto;
        width: 100%;
        padding: 80px 85px;
    }

    @include mq(sm) {
        padding: 80px 40px;
    }
}

.business-page-icon {
    margin: auto;

    img {
        width: 20px;
        height: auto;
    }

    @include mq(lg) {
        text-align: center;
        margin: 30px;
    }
}

.animation-price-content-text {
    font-size: 18px;
    color: $color-subtext;
    margin: 40px auto;
}

.animation-price-content-text2 {
    @extend.animation-price-content-text;
    margin-bottom: 0;
}

/*=====================================
# work.html
=======================================*/
.work-section {
    margin-top: 100px;
}

.work-page-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @include mq(lg) {
        display: block;
        padding: 0 50px;
    }

    @include mq(sm) {
        padding: 0 70px;
    }
}

.work-page-content {
    @include mq(lg) {
        margin-top: 30px;
    }
}

.work-page-title {
    font-family: 'showtime',Century;
    font-size: 60px;
    color: $color-text;

    @include mq(md) {
        font-size: 50px
    }

    @include mq(sm) {
        font-size: 30px
    }
}

.work-content-title {
    @extend.work-title;
    font-size: 24px;
}

.work-page-content {
    flex: 0 0 30%;
    display: block;

    @include mq(md) {
        margin-top: 50px;
    }
}
.work-page-content-text {
    color: $color-subtext;
    font-size: 14px;
    margin-top: 20px;
}

.youtube-frame {
    position: relative;
    padding-bottom: calc(315 / 560 * 100%);
    padding-top: 25px;
    height: 0;

    @include mq(lg) {
        padding-top: 20px;
        height: 200px;
    }
}

.youtube-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}