@charset "UTF-8";
@font-face {
  font-family: 'showtime';
  src: url("/font/Showtime-Regular.woff") format("woff");
}

/*=====================================
    mixin
=======================================*/
@media screen and (max-width: 576px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .is-sp {
    display: none;
  }
}

/*=====================================
    基本設定
=======================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "游明朝体", "Yu Mincho", YuMincho,'ヒラギノ角ゴシック','Yu Gothic','メイリオ', 'ＭＳ Ｐゴシック','MS PGothic';
  line-height: 1.8;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  background-color: #fbfbfb !important;
  margin: 0 !important;
  letter-spacing: 3px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: #2d2d2d;
}

a:hover {
  text-decoration: none;
}

.main-inner {
  margin-left: auto;
  padding-left: 300px;
}

@media screen and (max-width: 1200px) {
  .main-inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 992px) {
  .main-inner {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-inner {
    padding: 0;
  }
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .inner {
    max-width: 900px;
  }
}

@media screen and (max-width: 992px) {
  .inner {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    max-width: 600px;
  }
}

.header-inner {
  margin-left: 300px;
}

@media screen and (max-width: 1200px) {
  .header-inner {
    margin-left: 0;
  }
}

.title-wrapper {
  margin-top: 200px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .title-wrapper {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .title-wrapper {
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .title-wrapper {
    margin-top: 20px;
  }
}

.title-text {
  font-family: 'Crimson Text', Century;
  font-size: 40px;
  margin-bottom: 10px;
}

.title-subtext {
  font-size: 20px;
}

/*=====================================
# ボタン関係
=======================================*/
button {
  background-color: transparent;
}

button[type=button]:focus {
  outline: none;
  border: none;
}

.more-read {
  text-align: center;
  position: relative;
  margin: 100px auto 0;
  width: 200px;
}

.more-read::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background: #03A1E9;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.more-read:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

@media screen and (max-width: 768px) {
  .more-read {
    text-align: center;
    margin: 30px auto 50px;
  }
}

.more-read-button {
  border: 1px solid #fbfbfb;
  font-family: 'YuMincho',Century;
  font-size: 18px;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  transition: all .2s;
  outline: none;
  position: relative;
  text-decoration: none;
  color: #6C757D;
  border-radius: 5px;
}

.more-read-button:hover {
  color: #03A1E9;
  transition: 0.7s;
}

.more-read-button:focus::after, .more-read-button:focus::before {
  outline: none;
}

@media screen and (max-width: 992px) {
  .more-read-button {
    font-size: 20px;
  }
}

.price-more-read {
  width: 440px;
  background-color: #03A1E9;
  border: 1px solid #03A1E9;
  border-radius: 15px;
  text-align: center;
  margin: 100px auto 0;
}

.price-more-read:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: 0.7s;
}

@media screen and (max-width: 992px) {
  .price-more-read {
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .price-more-read {
    width: 80%;
  }
}

.price-more-read-button {
  border: 1px solid #03A1E9;
  font-size: 36px;
  height: 90px;
  color: #fbfbfb;
  border-radius: 15px;
  font-family: 'YuMincho',Century;
  width: 100%;
  transition: all .2s;
  outline: none;
  position: relative;
  text-decoration: none;
  padding-right: 30px;
}

.price-more-read-button::before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0px;
  border-top: solid 3px #fbfbfb;
  border-right: solid 3px #fbfbfb;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 85%;
  margin-top: -5px;
}

@media screen and (max-width: 992px) {
  .price-more-read-button {
    font-size: 24px;
  }
}

.contact-more-read {
  width: 70%;
  background-color: #03A1E9;
  border: 1px solid #03A1E9;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
}

.contact-more-read:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: 0.7s;
}

.contact-more-read-button {
  font-size: 36px;
  height: 90px;
  color: #fbfbfb;
  font-family: 'YuMincho',Century;
  width: 100%;
  transition: all .2s;
  outline: none;
  position: relative;
  text-decoration: none;
  border: none;
}

@media screen and (max-width: 992px) {
  .contact-more-read-button {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .contact-more-read-button {
    font-size: 16px;
  }
}

.complete-more-read {
  width: 30%;
  background-color: #03A1E9;
  border: 1px solid #03A1E9;
  border-radius: 3px;
  text-align: center;
  margin: 80px auto 0;
}

.complete-more-read:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: 0.7s;
}

.complete-more-read-button {
  font-size: 24px;
  height: 50px;
  color: #fbfbfb;
  font-family: 'YuMincho',Century;
  width: 100%;
  transition: all .2s;
  outline: none;
  position: relative;
  text-decoration: none;
  border: none;
  padding-right: 30px;
}

.complete-more-read-button::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0px;
  border-top: solid 3px #fbfbfb;
  border-right: solid 3px #fbfbfb;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 87%;
  margin-top: -5px;
}

@media screen and (max-width: 992px) {
  .complete-more-read-button {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .complete-more-read-button {
    font-size: 16px;
  }
}

/*===========================
      header
=============================*/
.header-nav {
  width: 100%;
  padding: 1px 3% 1px;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.header-link {
  font-size: 20px;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .header-link {
    font-size: 16px;
  }
}

.contact-link {
  list-style: none;
  padding: 8px 40px;
  margin-right: 100px;
  border-radius: 20px;
  background-color: #03A1E9;
  border: 1px solid #03A1E9;
}

.contact-link:hover {
  transition: 1s;
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .contact-link {
    margin-right: 50px;
  }
}

@media screen and (max-width: 576px) {
  .contact-link {
    display: none;
  }
}

.contact-link-button {
  font-size: 18px;
  border: none;
  font-weight: normal !important;
  font-family: 'Crimson Text';
  color: #fbfbfb;
  position: relative;
  margin-right: 3px;
}

.contact-link-button::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 2px #fbfbfb;
  border-right: solid 2px #fbfbfb;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 110%;
  margin-top: -2.5px;
}

@media screen and (max-width: 1200px) {
  .contact-link-button {
    font-size: 14px;
  }
}

/*=====================================
# drawer_menu
=======================================*/
.custom-header {
  width: 100%;
  height: 100%;
}

#nav-toggle {
  position: fixed;
  top: 12px;
  right: 60px;
  height: 32px;
  cursor: pointer;
  background: transparent;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  #nav-toggle {
    top: 5px;
  }
}

@media screen and (max-width: 992px) {
  #nav-toggle {
    right: 15px;
  }
}

#nav-toggle > div {
  width: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#nav-toggle > div > span.toggle {
  width: 140%;
  height: 2px;
  left: 0;
  display: block;
  background: #2d2d2d;
  position: absolute;
  transition: top .5s ease, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, top .5s ease;
  transition: transform .3s ease-in-out, top .5s ease, -webkit-transform .3s ease-in-out;
}

header #nav-toggle > div > span.toggle {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #2d2d2d;
  position: absolute;
  transition: top .5s ease, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, top .5s ease;
  transition: transform .3s ease-in-out, top .5s ease, -webkit-transform .3s ease-in-out;
}

#nav-toggle span.toggle:nth-child(1) {
  top: 0;
}

#nav-toggle span.toggle:nth-child(3) {
  top: 10px;
}

.open #nav-toggle span.toggle {
  background: #fff;
}

.open #nav-toggle span.toggle:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open #nav-toggle span.toggle:nth-child(2) {
  top: 10px;
  width: 0;
  left: 50%;
}

.open #nav-toggle span.toggle:nth-child(3) {
  top: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#global-nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity .3s ease, visibility .3s ease;
}

#global-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 0;
  transition: color .3s ease;
  font-size: .55em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .5em;
}

#global-nav a:hover {
  color: #666;
}

#global-nav ul {
  list-style: none;
  padding: 0;
}

#global-nav ul li {
  opacity: 0;
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .2s ease;
  transition: transform .3s ease, opacity .2s ease, -webkit-transform .3s ease;
}

#global-nav ul li:nth-child(2) {
  transition-delay: .05s;
}

#global-nav ul li:nth-child(3) {
  transition-delay: .15s;
}

#global-nav ul li:nth-child(4) {
  transition-delay: .25s;
}

#global-nav ul li:nth-child(5) {
  transition-delay: .35s;
}

/* open */
.open {
  overflow: hidden;
}

.open #global-nav {
  visibility: visible;
  opacity: 1;
}

.open #global-nav li {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity .9s ease;
  transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
}

/* sns */
.fab {
  font-size: 24px;
  margin: 10px;
}

.service-option {
  font-size: 18px;
  text-align: left;
  padding: 5px 0;
  margin-left: 30px;
}

.header-sns {
  display: flex;
  justify-content: space-between;
}

/*===========================
      main
=============================*/
.main {
  position: relative;
}

.main-content {
  background-image: url(../image/portfolio-main.jpg);
  min-height: 85vh;
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .main-content {
    background-image: url(../image/portfolio-main.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
}

.main-text {
  max-width: 800px;
  position: absolute;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  .main-text {
    max-width: 500px;
    left: 40%;
    top: 40%;
  }
}

@media screen and (max-width: 768px) {
  .main-text {
    top: 50%;
  }
}

.main-subtext {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 67%;
  left: 30%;
  transform: translate(-50%, -50%);
  letter-spacing: 12px;
  font-weight: 100;
}

@media screen and (max-width: 1200px) {
  .main-subtext {
    font-size: 16px;
    left: 40%;
  }
}

@media screen and (max-width: 992px) {
  .main-subtext {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .main-subtext {
    font-size: 12px;
  }
}

.main-text span,
.main-subtext span {
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

/*===========================
      concept
=============================*/
.concept {
  position: relative;
}

.concept-content {
  width: 50%;
  margin: 50px auto 0;
  color: #6C757D;
}

@media screen and (max-width: 576px) {
  .concept-content {
    width: 80%;
  }
}

/* アニメーション設定 */
.arrowWrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .arrowWrap {
    display: none;
  }
}

.arrowInner p {
  font-size: 12px;
  text-align: end;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow {
  width: 1px;
  height: 90px;
  margin: 60px auto 0;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.arrow::before {
  content: '';
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #2d2d2d;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-animation: arrow 2.5s ease 0s infinite normal;
  animation: arrow 2.5s ease 0s infinite normal;
}

@keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

/* アニメーション設定 */
.to_top {
  position: relative;
}

@media screen and (max-width: 768px) {
  .to_top {
    display: none;
  }
}

.arrowWrapTop {
  position: absolute;
  right: 10px;
  bottom: 100px;
  height: 200px;
}

.arrowInnerTop p {
  font-size: 12px;
  text-align: end;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 35px;
}

.arrow_top {
  width: 1px;
  height: 90px;
  margin: 60px auto 0;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.arrow_top::before {
  content: '';
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #2d2d2d;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-animation: arrow_top 2.5s ease 0s infinite normal;
  animation: arrow_top 2.5s ease 0s infinite normal;
}

@keyframes arrow_top {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

/*===========================
      service
=============================*/
.service-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .service-wrapper {
    display: block;
    padding: 0 50px;
  }
}

@media screen and (max-width: 576px) {
  .service-wrapper {
    padding: 0;
  }
}

.service-content {
  flex: 0 0 30%;
  text-align: center;
  position: relative;
}

.service-content img {
  width: 180px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .service-content + .service-content {
    margin: 50px auto;
  }
}

.service-subtitle {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.service-title {
  font-family: 'showtime',Century;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
}

.service-text {
  color: #6C757D;
  font-size: 14px;
  text-align: left;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .service-text {
    width: 80%;
    margin: 20px auto 0;
  }
}

/*===========================
      price(business)
=============================*/
.price {
  min-height: 1250px;
  height: auto;
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.price .title-wrapper {
  padding: 50px 0;
}

@media screen and (max-width: 992px) {
  .price {
    padding-bottom: 50px;
    min-height: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .price {
    min-height: 900px;
    padding-bottom: 10px;
  }
}

.business-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

@media screen and (max-width: 1200px) {
  .business-wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width: 992px) {
  .business-wrapper {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .business-wrapper {
    display: block;
    padding: 0 80px;
  }
}

@media screen and (max-width: 576px) {
  .business-wrapper {
    padding: 0 20px 50px;
  }
}

.business-content {
  width: 25%;
  text-align: center;
  padding: 50px 40px 190px;
  background-color: #fbfbfb;
  position: relative;
  border: 1px solid #e7e6e6;
}

.business-content:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
}

@media screen and (max-width: 1200px) {
  .business-content {
    padding: 50px 20px 180px;
  }
}

@media screen and (max-width: 992px) {
  .business-content {
    padding: 50px 5px 180px;
  }
}

@media screen and (max-width: 768px) {
  .business-content {
    padding: 50px 40px 180px;
    width: 100%;
  }
  .business-content + .business-content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .business-content {
    padding: 50px 20px 180px;
  }
}

.business-content-title {
  padding: 15px 0;
  color: #6C757D;
  text-align: center;
  position: relative;
}

.business-content-title:before {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 30px);
  width: 50px;
  height: 2px;
  content: '';
  border-radius: 3px;
  background: #03A1E9;
}

.business-content-list {
  list-style-type: none;
  margin-top: 40px;
}

.business-content-text {
  position: relative;
  color: #6C757D;
  font-size: 12px;
  text-align: left;
  margin: 15px 0;
}

.business-content-text::after {
  content: '';
  display: block;
  position: absolute;
  top: .5em;
  left: -2em;
  width: 10px;
  height: 5px;
  border-left: 2px solid #03A1E9;
  border-bottom: 2px solid #03A1E9;
  transform: rotate(-45deg);
}

@media screen and (max-width: 992px) {
  .business-content-text {
    font-size: 10px;
  }
  .business-content-text::after {
    left: -2.5em;
  }
}

@media screen and (max-width: 768px) {
  .business-content-text {
    font-size: 12px;
  }
}

.business-price, .business-sub-price {
  color: #6C757D;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .business-price, .business-sub-price {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .business-price, .business-sub-price {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .business-price, .business-sub-price {
    font-size: 16px;
  }
}

.business-sub-price {
  bottom: 13%;
}

.business-price-size {
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .business-price-size {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .business-price-size {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .business-price-size {
    font-size: 20px;
  }
}

/*===========================
      work
=============================*/
.work-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .work-wrapper {
    display: block;
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .work-wrapper {
    padding: 0 20px;
    margin-top: 50px;
  }
}

.work-content {
  flex: 0 0 33.3333%;
  padding: 16px;
}

.work-content img {
  object-fit: cover;
  height: 200px;
}

@media screen and (max-width: 992px) {
  .work-content img {
    height: 180px;
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .work-content img {
    width: 220px;
    height: 120px;
  }
}

@media screen and (max-width: 576px) {
  .work-content img {
    width: 280px;
    height: 180px;
  }
}

@media screen and (max-width: 992px) {
  .work-content {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .work-content {
    display: block;
  }
}

.work-content-image:hover {
  opacity: 0.7;
  transition: 0.6s;
}

@media screen and (max-width: 768px) {
  .work-content-image {
    width: 48%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .work-content-image {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .work-content-text {
    width: 48%;
  }
}

@media screen and (max-width: 576px) {
  .work-content-text {
    width: 80%;
    margin: 0 auto;
  }
}

.work-title, .work-content-title {
  font-family: 'showtime',Century;
  font-size: 30px;
  margin: 20px auto 10px;
  text-align: center;
}

.work-text {
  color: #6C757D;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .work-text {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .work-text {
    margin-left: 10px;
  }
}

/*===========================
      about
=============================*/
.about-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    display: block;
  }
}

.about-image {
  width: 25%;
  position: relative;
  margin: auto 0 auto 60px;
  height: 180px;
  align-items: center;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .about-image {
    height: 150px;
  }
}

@media screen and (max-width: 992px) {
  .about-image {
    height: 138px;
    margin-left: 30px;
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .about-image {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #fbfbfb;
  }
}

@media screen and (max-width: 576px) {
  .about-image {
    width: 60%;
  }
}

.about-content {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .about-content {
    width: 100%;
    margin-top: 100px;
    padding: 0 100px;
  }
}

@media screen and (max-width: 576px) {
  .about-content {
    padding: 0 30px;
  }
}

.about-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-name-japanese {
  font-size: 30px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .about-name-japanese {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .about-name-japanese {
    margin: 10px auto;
  }
}

@media screen and (max-width: 576px) {
  .about-name-japanese {
    font-size: 20px;
  }
}

.about-name-english {
  font-size: 24px;
  margin-left: 30px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .about-name-english {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .about-name-english {
    font-size: 18px;
    margin-left: 10px;
  }
}

.about-text {
  color: #6C757D;
  margin: 0 auto 20px;
}

@media screen and (max-width: 1200px) {
  .about-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .about-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .about-text {
    margin-top: 20px;
  }
}

/*===========================
      top-contact
=============================*/
.top-contact {
  background-color: #ffffff;
  margin: 200px auto;
  padding: 100px 0;
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}

.top-contact-text {
  text-align: center;
  color: #03A1E9;
  font-size: 24px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .top-contact-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .top-contact-text {
    font-size: 14px;
  }
}

.fa-envelope {
  margin: auto 20px;
  transform: rotate(30deg);
}

/*===========================
      footer
=============================*/
.footer {
  margin-top: 150px;
  background-color: #2d2d2d;
  color: #fbfbfb;
  padding: 50px 0;
  width: 100%;
}

#menu-footer-menu {
  text-align: center;
  margin: 10px 0;
}

#menu-footer-menu li {
  display: inline;
  list-style: outside none none;
  color: #fbfbfb;
}

#menu-footer-menu li a {
  color: #fbfbfb;
}

#menu-footer-menu li a:hover {
  opacity: 0.7;
  transition: 0.7s;
}

#menu-footer-menu li::before {
  content: "|";
  padding: 0 0.6em;
}

#menu-footer-menu li:first-child::before {
  content: "";
  padding: 0;
}

#menu-footer-menu .sub-menu {
  display: none;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding-top: 30px;
}

/*=====================================
# 下層ページ共通
=======================================*/
.sub-main-image {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 1200px) {
  .sub-main-image {
    height: 300px;
  }
}

@media screen and (max-width: 992px) {
  .sub-main-image {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .sub-main-image {
    height: 150px;
  }
}

.breadcrumbs {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    margin-left: 20px;
  }
}

/*=====================================
# about.html
=======================================*/
.about-page .title-wrapper {
  margin-top: 50px;
}

.about-page-profile {
  display: block;
  margin-top: 200px;
  text-align: center;
}

.about-page-profile-name {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-page-profile-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1);
}

.about-page-profile-text {
  color: #6C757D;
  width: 400px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
}

.about-skill {
  color: #6C757D;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}

.about-page-info {
  color: #6C757D;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}

.about-info-name {
  font-size: 20px;
}

.about-page-sns {
  color: #6C757D;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
}

/*=====================================
# service.html
=======================================*/
.service-page {
  padding: 50px 0 200px;
}

.service-page-wrapper {
  margin-top: 150px;
}

@media screen and (max-width: 1200px) {
  .service-page-wrapper {
    margin-top: 130px;
  }
}

@media screen and (max-width: 992px) {
  .service-page-wrapper {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .service-page-wrapper {
    margin-top: 70px;
  }
}

.service-page-title {
  font-size: 18px;
  text-align: center;
  position: relative;
  padding: 1rem;
}

.service-page-title:before {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 30px);
  width: 60px;
  height: 2px;
  content: '';
  border-radius: 3px;
  background: #03A1E9;
}

.service-page-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 40px auto 0;
}

@media screen and (max-width: 768px) {
  .service-page-content {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.service-page-image {
  width: 40%;
  object-fit: cover;
  margin: 20px;
  height: 180px;
}

.service-page-text {
  font-size: 14px;
  color: #6C757D;
  margin: 20px;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .service-page-text {
    width: 80%;
    margin: 20px auto;
    text-align: left;
  }
}

.service-page-video {
  width: 40%;
  height: 0;
  position: relative;
  padding-top: 22%;
  padding-left: 13%;
  padding-right: 13%;
  overflow: hidden;
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .service-page-video {
    padding-top: 20px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .service-page-video {
    margin: 20px auto;
  }
}

.service-page-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*=====================================
# ec.php
=======================================*/
.ec-page {
  position: relative;
}

.ec-top {
  margin-top: 50px;
}

.ec-top-text {
  width: 50%;
  margin: 0 auto;
  color: #6C757D;
}

@media screen and (max-width: 992px) {
  .ec-top-text {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .ec-top-text {
    width: 80%;
  }
}

.ec-video {
  width: 50%;
  height: 0;
  position: relative;
  padding-top: 26%;
  overflow: hidden;
  margin: 80px auto;
}

@media screen and (max-width: 992px) {
  .ec-video {
    padding-top: 20px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .ec-video {
    width: 80%;
  }
}

.ec-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.ec-flow-wrapper {
  border: 1px solid #6C757D;
  border-radius: 5px;
  width: 80%;
  margin: 60px auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .ec-flow-wrapper {
    width: 90%;
  }
}

.ec-flow-content {
  width: 100%;
  position: relative;
  padding: 20px 50px;
}

@media screen and (max-width: 768px) {
  .ec-flow-content {
    padding: 20px 20px;
  }
}

.ec-price-number {
  position: absolute;
  top: -80px;
  left: -20px;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .ec-price-number {
    font-size: 30px;
    top: -60px;
  }
}

.ex-flow-top {
  width: 40%;
  display: block;
  position: absolute;
}

.ec-flow-title {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .ec-flow-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .ec-flow-title {
    display: none;
  }
}

.ec-flow-subtitle {
  color: #6C757D;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .ec-flow-subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .ec-flow-subtitle {
    display: none;
  }
}

.ec-flow-content-bottom {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

@media screen and (max-width: 576px) {
  .ec-flow-content-bottom {
    position: relative;
    top: 60%;
    left: 50%;
    width: 100%;
  }
}

.ec-flow-text {
  font-size: 14px;
  color: #6C757D;
}

@media screen and (max-width: 768px) {
  .ec-flow-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  .ec-flow-text {
    margin-top: 80px;
  }
}

.ec-flow-arrow {
  text-align: center;
}

.arrow-bottom {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  border-bottom: 4px solid #2d2d2d;
  border-right: 4px solid #2d2d2d;
  transform: rotate(45deg);
}

.ec-price-content {
  width: 80%;
  background-color: #fbfbfb;
  margin: 0 auto;
  padding: 20px 0;
}

.ec-price-content-text {
  position: relative;
  text-align: left;
  font-size: 20px;
}

.ec-price-content-text::after {
  content: '';
  display: block;
  position: absolute;
  top: .5em;
  left: -2em;
  width: 10px;
  height: 5px;
  border-left: 2px solid #25AF01;
  border-bottom: 2px solid #25AF01;
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .ec-price-content-text {
    font-size: 12px;
  }
}

.ec-price-all {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.ec-price-all-yen {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .ec-price-all-yen {
    font-size: 24px;
  }
}

.ec-price-all-fee {
  border-bottom: 1px solid #2d2d2d;
}

.ec-price-content-explain {
  text-align: left;
  margin: 0 auto;
  margin-top: 40px;
  color: #6C757D;
}

@media screen and (max-width: 768px) {
  .ec-price-content-explain {
    font-size: 12px;
  }
}

.plan-detail {
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .plan-detail {
    width: 80%;
  }
}

.plan-detail-text {
  font-size: 12px;
  color: #6C757D;
}

/*====================
# priceタブ切り替え
======================*/
#wrap {
  width: 65%;
  margin: 0 auto;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  #wrap {
    width: 98%;
  }
}

.tab {
  height: 40px;
  width: 33.333%;
  border-bottom: 4px solid black;
  line-height: 40px;
  text-align: center;
  font-size: 20pt;
  float: left;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .tab {
    font-size: 12px;
  }
}

.selected {
  background-color: #2d2d2d;
  color: #fbfbfb;
  border: none;
}

#container {
  position: relative;
  width: 100%;
  min-height: 800px;
  height: 100%;
  overflow: hidden;
  clear: left;
}

.box {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
}

#first {
  top: 0px;
  left: 0px;
}

#second {
  top: 0px;
  left: 700px;
}

#third {
  top: 0px;
  left: 1400px;
}

#slide {
  transition: transform 1s ease-in-out 0s;
  -moz-transition: -moz-transform 1s ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
}

.move-to-second {
  transform: translateX(-700px);
  -moz-transform: translateX(-700px);
  -webkit-transform: translateX(-700px);
}

.move-to-third {
  transform: translateX(-1400px);
  -moz-transform: translateX(-1400px);
  -webkit-transform: translateX(-1400px);
}

.move-to-first {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
}

/*=====================================
# website.php
=======================================*/
.web-site-table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.web-site-table tr {
  padding: .35em;
  border-bottom: 1px dotted #2d2d2d;
  margin: 20px auto;
}

.web-site-table tr:last-child {
  border-bottom: 2px solid #2d2d2d;
}

.web-site-table th,
.web-site-table td {
  padding: 2em;
  color: #6C757D;
}

.txt {
  text-align: left;
  font-size: .85em;
}

.web-site-price {
  text-align: right;
}

.web-site-price-all {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .web-site-table {
    border: 0;
    width: 100%;
  }
  .web-site-table th {
    display: block;
    border-right: none;
    border-bottom: 2px solid #6C757D;
    padding-bottom: .6em;
    margin-bottom: .6em;
  }
  .web-site-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .web-site-table tr {
    display: block;
    margin-bottom: 2em;
    border-bottom: 2px solid #6C757D;
  }
  .web-site-table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
  }
  .web-site-table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
  }
  .web-site-table td:last-child {
    border-bottom: 0;
  }
}

/*=====================================
# work.html
=======================================*/
.work-section {
  margin-top: 100px;
}

.work-page-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .work-page-wrapper {
    display: block;
    padding: 0 50px;
  }
}

@media screen and (max-width: 576px) {
  .work-page-wrapper {
    padding: 0 70px;
  }
}

@media screen and (max-width: 992px) {
  .work-page-content {
    margin-top: 30px;
  }
}

.work-page-title {
  font-family: 'showtime',Century;
  font-size: 60px;
  color: #2d2d2d;
}

@media screen and (max-width: 768px) {
  .work-page-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 576px) {
  .work-page-title {
    font-size: 30px;
  }
}

.work-content-title {
  font-size: 24px;
}

.work-page-content {
  flex: 0 0 30%;
  display: block;
}

@media screen and (max-width: 768px) {
  .work-page-content {
    margin-top: 50px;
  }
}

.work-page-content-text {
  color: #6C757D;
  font-size: 14px;
  margin-top: 20px;
}

.youtube-frame {
  position: relative;
  padding-bottom: calc(315 / 560 * 100%);
  padding-top: 25px;
  height: 0;
}

@media screen and (max-width: 992px) {
  .youtube-frame {
    padding-top: 20px;
    height: 200px;
  }
}

.youtube-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*=====================================
# contact.php
=======================================*/
.contact {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 0 50px;
  }
}

.contact-form {
  width: 100%;
  margin: 80px auto 0;
}

/*=====================================
# contact form 7
=======================================*/
/*Contact Form 7カスタマイズ*/
.inquiry {
  margin: 0 auto;
  width: 80%;
}

/*見出し欄*/
.inquiry th {
  text-align: left;
  font-size: 16px;
  color: #2d2d2d;
  padding: 20px 5px 0px 5px;
  width: 30%;
  border-bottom: solid 1px #d7d7d7;
  font-weight: normal;
}

/*通常欄*/
.inquiry td {
  font-size: 13px;
  border-bottom: solid 1px #d7d7d7;
}

/*横の行とテーブル全体*/
.entry-content.inquiry tr,
.entry-content table {
  border-bottom: solid 1px #d7d7d7;
}

/*必須の調整*/
.must, .any {
  font-size: 7px;
  padding: 5px;
  background: #ff9393;
  color: #fbfbfb;
  border-radius: 2px;
  position: relative;
  bottom: 1px;
  text-align: center !important;
  margin-right: 15px;
}

/*任意の調整*/
.any {
  background: #93c9ff;
}

/*送信ボタンのデザイン変更*/
#form_btn {
  display: block;
  padding: 1em 0;
  margin: 30px auto 0;
  width: 80%;
  background: #03A1E9;
  color: #fbfbfb;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #03A1E9;
}

#form_btn:hover {
  background: #fbfbfb;
  color: #03A1E9;
  transition: 0.5s;
}

.wpcf7-form-control {
  width: 100%;
}

.wpcf7-form-control-wrap {
  position: relative;
}

.spam {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-size: 14px;
}

/*スマホContact Form 7カスタマイズ*/
@media (max-width: 500px) {
  .inquiry th, .inquiry td {
    display: block !important;
    width: 100% !important;
    border-top: none !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }
  .inquiry tr:first-child th {
    border-top: 1px solid #d7d7d7 !important;
  }
  /* 必須・任意のサイズ調整 */
  .inquiry .must, .inquiry .any, .inquiry .any {
    font-size: 10px;
  }
}

input[type=text],
input[type=email],
input[type=tel],
select {
  height: 40px;
  border: none;
  background-color: #f8f5f5;
  padding: 5px 10px;
}

input[type=text]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder,
input[type=tel]:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type=text]:focus::-moz-placeholder,
input[type=email]:focus::-moz-placeholder,
input[type=tel]:focus::-moz-placeholder,
select:focus::-moz-placeholder {
  color: transparent;
}

input[type=text]:focus::-ms-input-placeholder,
input[type=email]:focus::-ms-input-placeholder,
input[type=tel]:focus::-ms-input-placeholder,
select:focus::-ms-input-placeholder {
  color: transparent;
}

input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=tel]:focus::placeholder,
select:focus::placeholder {
  color: transparent;
}

textarea {
  border: none;
  background-color: #f8f5f5;
  padding: 5px 10px;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus::-ms-input-placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

:focus {
  outline: none;
}

/*=====================================
# complete.php
=======================================*/
.complete {
  text-align: center;
  padding: 30px;
  margin: 100px auto;
}

.complete-title {
  font-size: 24px;
  margin-bottom: 70px;
}

.complete-subtitle {
  font-size: 16px;
  margin-top: 20px;
}
